body {
  background-color: rgb(228, 195, 97);
  font-size: 1.5rem;
  font-family: sans-serif;
  color: rgb(36, 35, 37);
}

h1 {
  font-size: 2rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgb(224, 67, 33);
  margin-bottom: 0;
  width: 100%;
}
.completed{
    text-decoration: line-through;
    color:rgb(127, 130, 139);
}

.todo__List {
  list-style: none;
  box-sizing: border-box;

}

.container {
  width: 98%;
  margin: 50px auto;
  background-color: white;
}

.todoform__input {
  width: 50%;
  height: 30px;
  margin-left: 80px;
  /*margin-bottom: 0;*/
  /*padding-bottom: 0;*/
}

ul {
  padding-left: 0;
  /*padding-top: 0;*/
  margin-top: 0;
  margin-bottom: 0;
}

li {
  height: 40px;
  line-height: 40px;
  border-top: 2px solid rgb(89, 168, 218);
  border-left: rgb(237, 77, 60);
  padding-left: 80px;
}

.todo__List__span {
  padding-right: 20px;
}

footer {
  background-color: rgb(89, 168, 218);
  height: 70px;
  text-align: center;
  padding: 2%;
}

.sort {
width: 8em;
color: white;
font-size: 1.2em;
background-color: black;
border-style: none;
}

.todoform__button{
    background-color: inherit;
    border: 0px;
    font-size: 30px;
    padding: 0px;
}
.todo__List__button--del, .todo__List__button--mark{
  background-color: inherit;
  border: none;
  font-size: 30px;
  float: right;
  padding-right: 30px;

}
.todo__List__button--del {
  color: red;
  }

  .todo__List__button--mark {
    color: green;
  }

.fa-check{
  width: 9px;
}

@media screen and (min-width: 600px){
    .container{
      width: 600px;
    }
}
